

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: beige;
  justify-content: center;
  align-items: center;
}
.main,.QuestionAnswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  width: 500px;
  height: 400px;
}

.main-Navlink {
  margin-top: 20%;
  width: 80%;
  border: 2px solid black;
  text-align: center;
  font-size: 16px;
  background-color: beige;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  color: black;

}
.main-Navlink:hover {
  background-color: black; /* Green */
  color: white;
}
.answer-label {
  margin-left: 15px;
}
.question {
  margin: 0 auto;
}
.CorrectAnswers {
  margin: 0 auto;
  align-self: flex-start
}